:root {
    --libre: #dcfce7; /* Verde suave */
    --reservado: #fef9c3; /* Amarillo suave */
    --ocupado: #fee2e2; /* Rojo suave */
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
}

.hidden-section, .hidden-modal, .hidden { display: none !important; }

/* Auth */
.auth-wrapper { height: 100vh; display: flex; align-items: center; }
.auth-container { background: #1e1e1e; padding: 30px; border-radius: 10px; text-align: center; width: 320px; border: 1px solid #333; }
input { width: 100%; padding: 10px; margin: 10px 0; border-radius: 5px; border: 1px solid #444; background: #222; color: white; box-sizing: border-box; }
#btn-action { width: 100%; padding: 12px; background: #2563eb; color: white; border: none; border-radius: 5px; cursor: pointer; }

/* Tabla */
table { width: 90%; margin: 20px auto; border-collapse: separate; border-spacing: 5px; }
th { background: #1e1e1e; padding: 15px; font-size: 0.8rem; }
td { height: 80px; border-radius: 8px; text-align: center; cursor: pointer; color: #111; font-size: 0.75rem; padding: 5px; }

/* Colores de las celdas */
.cell-libre { background-color: var(--libre); color: #166534; border: 1px dashed #22c55e; }
.cell-reservado { background-color: var(--reservado); color: #854d0e; border: 1px solid #f59e0b; }
.cell-ocupado { background-color: var(--ocupado); color: #991b1b; border: 1px solid #ef4444; }

/* Modal */
.modal { position: fixed; inset: 0; background: rgba(0,0,0,0.85); display: flex; justify-content: center; align-items: center; }
.modal-box { background: #1e1e1e; color: white; padding: 25px; border-radius: 12px; width: 320px; border: 1px solid #444; }
textarea { width: 100%; background: #222; color: white; border: 1px solid #444; margin-top: 5px; padding: 5px; }
.btn-save { background: #2563eb; color: white; border: none; padding: 10px; border-radius: 5px; cursor: pointer; width: 100%; margin-top: 15px; }
.btn-cancel { background: transparent; color: #aaa; border: none; cursor: pointer; width: 100%; margin-top: 10px; }